

<div class="swing"  *ngIf="!estaCarregando">
    <span *ngFor="let valor of saldo" >Saldo: 2000 {{valor.body}} </span>
</div>
<div class="spinner-border" *ngIf="estaCarregando">
  <span class="sr-only">Carregando...</span>
</div>
<!-- <table *ngIf="!estaCarregando" class="table table-hover">
    <button (click)="paginaAnterior()" [disabled]="page === 1"> Página anterior </button>
    <button (click)="proximaPagina()"> Próxima página </button>
    <tr>
      <th>tudo</th>
      <th>Entratada</th>
      <th>Saida</th>
      <th>futuro</th>
    </tr>
  
    <tr *ngFor="let transacao of extrato">
      <td>{{ transacao?.id }}</td>
      <td>{{ transacao?.data | date }}</td>
      <td>{{ transacao?.descricao }}</td>
      <td [ngClass]="transacao?.valor > 0 ? 'verde' : 'vermelho'">
        {{ transacao?.valor | currency:'BRL' }}
      </td>
      <td>
        <button class="btn btn-primary" (click)="irParaDetalhes(transacao.id)">
          Ver detalhes
        </button>
      </td>
    </tr>
</table> -->

<div class="container">
  <mat-tab-group mat-stretch-tabs class=" example-stretched-tabs mat-elevation-z4">
    <mat-tab *ngIf="!estaCarregando" label="Tudo"> 
      <table class="table table-hover">
        <button (click)="paginaAnterior()" [disabled]="page === 1"> Página anterior </button>
        <button (click)="proximaPagina()"> Próxima página </button>
        <tr>
          <th>data</th>
          <th>lugar</th>
          <th>valor</th>
        </tr>
        <tr *ngFor="let transacao of extrato">
          <td>{{ transacao.transactionDate | date }}</td>
          <td>{{ transacao }}</td>
          <td [ngClass]="transacao.amountTransferred > 0 ? 'verde' : 'vermelho'">
            {{ transacao.amountTransferred | currency:'BRL' }}
          </td>
          <td>
            <button class="btn btn-primary" (click)="irParaDetalhes(transacao.id)">
              Ver detalhes
            </button>
          </td>
        </tr>
    </table>  
    </mat-tab>
    <mat-tab *ngIf="!estaCarregando" label="Entrada"> 
      <table  class="table table-hover">
        <button (click)="paginaAnterior()" [disabled]="page === 1"> Página anterior </button>
        <button (click)="proximaPagina()"> Próxima página </button>
        <tr>
          <th>data</th>
          <th>lugar</th>
          <th>valor</th>
        </tr>
      
        <tr *ngFor="let transacao of extrato">
          <td>{{ transacao?.data | date }}</td>
          <td>{{ transacao?.descricao }}</td>
          <td [ngClass]="transacao?.valor > 0 ? 'verde' : 'vermelho'">
            {{ transacao?.valor | currency:'BRL' }}
          </td>
          <td>
            <button class="btn btn-primary" (click)="irParaDetalhes(transacao.id)">
              Ver detalhes
            </button>
          </td>
        </tr>
    </table>
  
    </mat-tab>
    <mat-tab *ngIf="!estaCarregando" label="Saida">
      <table  class="table table-hover">
        <button (click)="paginaAnterior()" [disabled]="page === 1"> Página anterior </button>
        <button (click)="proximaPagina()"> Próxima página </button>
        <tr>
          <th>data</th>
          <th>lugar</th>
          <th>valor</th>
        </tr>
      
        <tr *ngFor="let transacao of extrato">
          <td>{{ transacao?.data | date }}</td>
          <td>{{ transacao?.descricao }}</td>
          <td [ngClass]="transacao?.valor > 0 ? 'verde' : 'vermelho'">
            {{ transacao?.valor | currency:'BRL' }}
          </td>
          <td>
            <button class="btn btn-primary" (click)="irParaDetalhes(transacao.id)">
              Ver detalhes
            </button>
          </td>
        </tr>
    </table> 
    </mat-tab>
  </mat-tab-group>
  
  <div *ngIf="!estaCarregando" class="button-page-transference">
    <button mat-raised-button class="example-action-button" (click)="toggleBackground()">Pagina Tranferencia</button>
  </div>
  
</div>


  